RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} \.html$
RewriteCond %{REQUEST_URI} ^/content/

#Вариант, где content корневая и вложенная папка
#RewriteCond %{REQUEST_URI} (^content\/|\/content\/)

RewriteRule .+ index.php
